# === Python general ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# === Virtual environments ===
venv/
env/
ENV/
.venv/

# === Django ===
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.sqlite3

# === Distribution / packaging ===
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# === PyInstaller ===
*.manifest
*.spec

# === Installer logs ===
pip-log.txt
pip-delete-this-directory.txt

# === Unit test / coverage ===
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# === Pytest ===
.pytest_cache/

# === MyPy ===
.mypy_cache/
.dmypy.json
dmypy.json

# === VSCode / IDEs ===
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# === MacOS / Linux / Windows ===
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
